<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-brand">
            <i class="fas fa-camera"></i>
            Picks.io
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString().Equals("Browse", StringComparison.InvariantCultureIgnoreCase) ? "active" : "")">
                    <a class="nav-link" asp-controller="Browse" asp-action="Browse">
                        <i class="fas fa-eye"></i>
                        Browse
                    </a>
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString().Equals("Upload", StringComparison.InvariantCultureIgnoreCase) ? "active" : "")">
                    <a class="nav-link" asp-controller="Upload" asp-action="Upload">
                        <i class="fas fa-upload"></i>
                        Upload
                    </a>
                </li>
            </ul>
            @await Component.InvokeAsync("BasketWidget")
        </div>
    </nav>
</header>