@model UploadViewModel
@{
    ViewData["Title"] = "Upload pictures!";
}
@if (TempData["Success"] != null)
{
    <p class="alert alert-success">@TempData["Success"]</p>
}
@if (TempData["Info"] != null)
{
    <p class="alert alert-info">@TempData["Info"]</p>
}
<form asp-action="CreateCategory" method="post">
    <div>
        <label>Create new category:</label>
        <div class="input-group mb-3">
            <input asp-for="Category.Name" type="text" class="form-control" placeholder="Category name" required>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-addon2">Create</button>
            </div>
        </div>
    </div>
</form>
<form asp-action="UploadPictures" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Select category:</label>
        <select asp-for="Picture.CategoryId" asp-items="Model.Categories" class="form-control" required></select>
    </div>
    <label>Upload pictures:</label>
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" name="apa" class="custom-file-input" id="inputGroupFile" accept="image/png, image/jpeg, image/jpg" multiple required>
            <label class="custom-file-label" for="inputGroupFile">Choose files</label>
        </div>
    </div>
    <div class="form-group">
        <label>Tags:</label>
        <textarea asp-for="Picture.Tags" class="form-control" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> Save & upload pictures</button>
</form>