<div class="row margin-top-200">
    <div class="col text-center">
        <h4 class="text-uppercase h4">This is Redis demo</h4>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p class="alert-danger">
            @ViewData["CacheTime"]
            <br />
            @ViewData["CurrentTime"]
            <br />
            @ViewData["TheName"]
        </p>
    </div>
</div>